.footer {
    color: rgba(255, 255, 255, 0.5);
    /* Lighter text color */
}
.footer {
    background-color: #343a40; /* Adjust background color */
    color: rgba(255, 255, 255, 0.5); /* Light text color */
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px; /* Adjust height as needed */
    line-height: 60px; /* Vertically center text */
  }

.footer span {
    font-size: 0.9rem;
    /* Adjust font size as needed */
}