<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">


<div class="modal-body form_container">
  <div class="form update_password_form">
    <form [formGroup]="passwordForm" (ngSubmit)="updatePassword()">
      <h2>Update Password</h2>

      <div class="input_box">
        <input type="password" id="currentPassword" placeholder="Current Password" formControlName="currentPassword" aria-label="Current Password" class="form-control">
        <i class="fa fa-lock"></i>
      </div>
      <div *ngIf="passwordForm.controls['currentPassword'].touched && passwordForm.controls['currentPassword'].invalid" class="text-danger">
        <span *ngIf="passwordForm.controls['currentPassword'].hasError('required')">Current Password is required.</span>
      </div>

      <div class="input_box">
        <input type="password" id="newPassword" placeholder="New Password" formControlName="newPassword" aria-label="New Password" class="form-control">
        <i class="fa fa-lock"></i>
      </div>
      <div *ngIf="passwordForm.controls['newPassword'].touched && passwordForm.controls['newPassword'].invalid" class="text-danger">
        <span *ngIf="passwordForm.controls['newPassword'].hasError('required')">New Password is required.</span>
        <span *ngIf="passwordForm.controls['newPassword'].hasError('minlength')">Password must be at least 6 characters long.</span>
      </div>

      <div class="input_box">
        <input type="password" id="confirmPassword" placeholder="Confirm New Password" formControlName="confirmPassword" aria-label="Confirm Password" class="form-control">
        <i class="fa fa-lock"></i>
      </div>
      <div *ngIf="passwordForm.controls['confirmPassword'].touched && passwordForm.controls['confirmPassword'].invalid" class="text-danger">
        <span *ngIf="passwordForm.controls['confirmPassword'].hasError('required')">Confirm Password is required.</span>
        <span *ngIf="passwordForm.hasError('passwordMismatch')">Passwords do not match.</span>
      </div>

      <button type="submit" class="button" [disabled]="passwordForm.invalid">Update Password</button>
    </form>
  </div>
</div>
